/* header logo */


.header-left{
    height: 100px;
}
.logocrysbo{
    height: 380px;
}
.crysbrologo{
    height: 100px;
    width: 50px;
}
.logocrysbo{
    height: 75px;

}

/* 50th logo */
.clogo{
    height: 120px;
    width: 200px;
    margin-top: 250px;
    margin-left: -30px;
}